<head>
  <title>Protein Tracker</title>
</head>

<body>
  <h1>Protein Tracker</h1>
  {{> userDetails }}

  {{> history }}
</body>

<template name="userDetails">
  {{#with user}}
  <h2>Total: <span>{{total}}</span></h2>
  <h2>Goal: <span>{{goal}}</span></h2>
  <h3>Enter Amount</h3>
  <input type="text" id="amount">
  <input type="submit" id="addAmount" value="Add">
  {{/with}}
</template>

<template name="history">
  <h2>Last 5 Entries</h2>
  <ul>
    {{#each entry}}
    <li>{{date}} - {{amount}}</li>
    {{/each}}
  </ul>
</template>
